
body {
    margin:0;
}
.first-container {

    background: #1f2937;
    color: white;
    font-family: sans-serif;
    
}

ul {
    list-style-type:none ;
}

a {
    color:white;
    text-decoration: none;
}

.main-button button {
     
    border: none;
    border-radius: 8px;
    background: #3882f6;
    color: white;
    font-size: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 200px;
}

.links {
    
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.main-content {
    display:flex ;
    justify-content: space-between;
    gap: 20px;
}

.description {

    width: 500px;
    margin-left: 200px;
    margin-top: 100px;
}

.large-text {

    font-size: 48px;
    font-weight:bolder;
    
}

.secondary-text {
    margin-top: 20px;
}