
body {
    margin:0;
}
.first-container {

    background: #1f2937;
    color: white;
    font-family: sans-serif;
    
}

ul {
    list-style-type:none ;
}

a {
    color:white;
    text-decoration: none;
}

.main-button button {
     
    border: none;
    border-radius: 8px;
    background: #3882f6;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
}

.links {
    
    display: flex;
    justify-content: space-between;
    gap: 20px;
}